header.header {
  .header-inner-wrap {
    nav.menu {
      @media screen and (max-width: 767px) {
        position: fixed;
        width: 100%;
        top: 80px;
        left: 0;
        right: 0;
        padding: 1rem;
        height: 100%;
        max-height: calc(100% - 80px);
        transform: translateX(-150%);
      }

      &.open-menu {
        transform: translateX(0);
      }

      ul.menu-list {
        @media screen and (max-width: 767px) {
          width: 100%;
          height: 100%;
        }

        .cta {
          @media screen and (max-width: 767px) {
            margin-top: auto;
            width: 100%;
          }

          .brucira-btn {
            @media screen and (max-width: 767px) {
              width: 100%;
              max-width: 100%;
            }
          }
        }
      }
    }
  }
}
